:root{
    /* colors */
    --background-color: #000000;
    --cards: #1F1F1F;
    --text-color: #FFFFFF;
    --secondary-text: #B3B3B3;
    --green: #00C853;
    --blue: #2979FF;
    --red: #FF1744;
    --orange: #FF6D00;
}